.content {
    overflow-y: scroll;
    overflow-x: hidden;
}

.content::-webkit-scrollbar {
    display: none;
}

.content {
    height: 100vh;
}

body,
h1 {
    font-family: "Inside Out", sans-serif;
}

h1 {
    text-align: center;
}

body,
html {
    height: 100%;
}

.bgimg {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blur {
    background: rgba(62, 62, 62, 0.04);
    backdrop-filter: blur(24px);
    height: 100vh;
}

.link {
    text-decoration: none;
    color: white;
}

.content h1 {
    font-size: 60px;
}

.content p {
    padding-inline: 160px;
    text-align: center;
    font-size: 20px;
    font-family: "Studio Feixen Variable", sans-serif;
}

.content img {
    height: 450px;
}

.core-memories-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.core-memory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.core-memory h4 {
    padding-inline: 60px;
    text-align: center;
    font-family: "Inside Out", sans-serif;
}

.core-memory img {
    height: 100px;
    width: 100px;
}

@media(max-width:999px) {
    .content p {
        padding-inline: 60px;
        font-size: 16px;
    }
}